
ATRobots/build/tmp/compileJava/previous-compilation-data.bin
ATRobots/build/classes/java/main/com/redteam/engine/utils/Utils.class
ATRobots/build/classes/java/main/com/redteam/engine/utils/Transformation.class
ATRobots/build/classes/java/main/com/redteam/engine/utils/Consts.class
ATRobots/build/classes/java/main/com/redteam/engine/game/ATRobots.class
ATRobots/build/classes/java/main/com/redteam/engine/game/TestGame.class
ATRobots/build/classes/java/main/com/redteam/engine/game/ATRobots$State.class
ATRobots/build/classes/java/main/com/redteam/engine/core/Window.class
ATRobots/.classpath
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.bin
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.lock
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.bin
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.lock
ATRobots/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
ATRobots/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ATRobots/.gradle/buildOutputCleanup/outputFiles.bin
ATRobots/.gradle/file-system.probe
ATRobots/.idea/compiler.xml
ATRobots/.idea/gradle.xml
ATRobots/.idea/misc.xml
ATRobots/.idea/workspace.xml
ATRobots/.settings/org.eclipse.jdt.core.prefs
ATRobots/build/classes/java/main/com/redteam/engine/core/Camera.class
ATRobots/build/classes/java/main/com/redteam/engine/core/Engine.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/Entity.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/Material.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/Model.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/Robot.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/terrain/Terrain.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/Texture.class
ATRobots/build/classes/java/main/com/redteam/engine/core/ILogic.class
ATRobots/build/classes/java/main/com/redteam/engine/core/lighting/DirectionalLight.class
ATRobots/build/classes/java/main/com/redteam/engine/core/lighting/PointLight.class
ATRobots/build/classes/java/main/com/redteam/engine/core/lighting/SpotLight.class
ATRobots/build/classes/java/main/com/redteam/engine/core/MouseInput.class
ATRobots/build/classes/java/main/com/redteam/engine/core/ObjectLoader.class
ATRobots/build/classes/java/main/com/redteam/engine/core/rendering/EntityRender.class
ATRobots/build/classes/java/main/com/redteam/engine/core/rendering/IRenderer.class
ATRobots/build/classes/java/main/com/redteam/engine/core/rendering/RenderManager.class
ATRobots/build/classes/java/main/com/redteam/engine/core/rendering/TerrainRender.class
ATRobots/build/classes/java/main/com/redteam/engine/core/Shader.class
