
ATRobots/.settings/org.eclipse.jdt.core.prefs
ATRobots/.classpath
ATRobots/.gradle/7.5.1/checksums/checksums.lock
ATRobots/.gradle/7.5.1/checksums/md5-checksums.bin
ATRobots/.gradle/7.5.1/checksums/sha1-checksums.bin
