
ATRobots/.settings/org.eclipse.jdt.core.prefs
ATRobots/.classpath
ATRobots/.gradle/7.5.1/checksums/checksums.lock
ATRobots/.gradle/7.5.1/checksums/md5-checksums.bin
ATRobots/.gradle/7.5.1/checksums/sha1-checksums.bin
*.log
ATRobots/imgui.ini
ATRobots/.classpath
ATRobots/.settings/org.eclipse.jdt.core.prefs
*.lock
*.bin
ATRobots/.idea/ATRobots.iml
ATRobots/.idea/libraries/Gradle__io_github_spair_imgui_java_binding_1_86_4.xml
ATRobots/.idea/libraries/Gradle__io_github_spair_imgui_java_lwjgl3_1_86_4.xml
ATRobots/.idea/libraries/Gradle__io_github_spair_imgui_java_natives_linux_1_86_4.xml
ATRobots/.idea/libraries/Gradle__org_joml_joml_1_10_5.xml
ATRobots/.idea/libraries/Gradle__org_lwjgl_lwjgl_3_3_1.xml
ATRobots/.idea/libraries/Gradle__org_lwjgl_lwjgl_glfw_3_3_1.xml
ATRobots/.idea/libraries/Gradle__org_lwjgl_lwjgl_glfw_natives_linux_3_3_1.xml
ATRobots/.idea/libraries/Gradle__org_lwjgl_lwjgl_natives_linux_3_3_1.xml
ATRobots/.idea/libraries/Gradle__org_lwjgl_lwjgl_openal_3_3_1.xml
ATRobots/.idea/libraries/Gradle__org_lwjgl_lwjgl_openal_natives_linux_3_3_1.xml
ATRobots/.idea/libraries/Gradle__org_lwjgl_lwjgl_opengl_3_3_1.xml
ATRobots/.idea/libraries/Gradle__org_lwjgl_lwjgl_opengl_natives_linux_3_3_1.xml
ATRobots/.idea/libraries/Gradle__org_lwjgl_lwjgl_stb_3_3_1.xml
ATRobots/.idea/libraries/Gradle__org_lwjgl_lwjgl_stb_natives_linux_3_3_1.xml
ATRobots/.idea/misc.xml
ATRobots/.idea/modules.xml
ATRobots/.idea/modules/ATRobots.main.iml
ATRobots/.idea/modules/ATRobots.test.iml
ATRobots/build/classes/java/main/com/redteam/engine/core/Camera.class
ATRobots/build/classes/java/main/com/redteam/engine/core/Engine.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/Entity.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/Material.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/Model.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/Robot.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/terrain/Terrain.class
ATRobots/build/classes/java/main/com/redteam/engine/core/entity/Texture.class
ATRobots/build/classes/java/main/com/redteam/engine/core/ILogic.class
ATRobots/build/classes/java/main/com/redteam/engine/core/lighting/DirectionalLight.class
ATRobots/build/classes/java/main/com/redteam/engine/core/lighting/PointLight.class
ATRobots/build/classes/java/main/com/redteam/engine/core/lighting/SpotLight.class
ATRobots/build/classes/java/main/com/redteam/engine/core/MouseInput.class
ATRobots/build/classes/java/main/com/redteam/engine/core/ObjectLoader.class
ATRobots/build/classes/java/main/com/redteam/engine/core/rendering/EntityRender.class
ATRobots/build/classes/java/main/com/redteam/engine/core/rendering/IRenderer.class
ATRobots/build/classes/java/main/com/redteam/engine/core/rendering/RenderManager.class
ATRobots/build/classes/java/main/com/redteam/engine/core/rendering/TerrainRender.class
ATRobots/build/classes/java/main/com/redteam/engine/core/Shader.class
ATRobots/build/classes/java/main/com/redteam/engine/core/Window.class
ATRobots/build/classes/java/main/com/redteam/engine/game/ATRobots$State.class
ATRobots/build/classes/java/main/com/redteam/engine/game/ATRobots.class
ATRobots/build/classes/java/main/com/redteam/engine/game/TestGame.class
ATRobots/build/classes/java/main/com/redteam/engine/utils/Consts.class
ATRobots/build/classes/java/main/com/redteam/engine/utils/Transformation.class
ATRobots/build/classes/java/main/com/redteam/engine/utils/Utils.class
ATRobots/out/production/resources/AT2/dummy.AT2
ATRobots/out/production/resources/images/image_parser.java
ATRobots/out/production/resources/images/test.png
ATRobots/out/production/resources/models/bullet.obj
ATRobots/out/production/resources/models/grassblock.obj
ATRobots/out/production/resources/models/tank.obj
ATRobots/out/production/resources/models/tankBot.obj
ATRobots/out/production/resources/models/tankTop.obj
ATRobots/out/production/resources/shaders/entity_fragment.fs
ATRobots/out/production/resources/shaders/entity_vertex.vs
ATRobots/out/production/resources/shaders/fragment.fs
ATRobots/out/production/resources/shaders/terrain_fragment.fs
ATRobots/out/production/resources/shaders/terrain_vertex.vs
ATRobots/out/production/resources/shaders/vertex.vs
ATRobots/out/production/resources/sounds/beep.ogg
ATRobots/out/production/resources/sounds/beep.wav
ATRobots/out/production/resources/sounds/bloop_x.ogg
ATRobots/out/production/resources/sounds/bloop_x.wav
ATRobots/out/production/resources/sounds/bullet.ogg
ATRobots/out/production/resources/sounds/message.ogg
ATRobots/out/production/resources/sounds/Sound.java
ATRobots/out/production/resources/sounds/tankIdle.ogg
ATRobots/out/production/resources/sounds/tankMove.ogg
ATRobots/.idea/workspace.xml
ATRobots/.idea/vcs.xml
ATRobots/.idea/gradle.xml
ATRobots/.idea/workspace.xml
ATRobots/.idea/workspace.xml
*.lock
ATRobots/.gradle/7.5.1/checksums/md5-checksums.bin
ATRobots/.gradle/7.5.1/checksums/sha1-checksums.bin
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.bin
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.lock
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.bin
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.lock
ATRobots/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
ATRobots/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ATRobots/.idea/compiler.xml
ATRobots/.idea/discord.xml
ATRobots/.idea/jarRepositories.xml
ATRobots/.idea/workspace.xml
ATRobots/build/resources/main/META-INF/MANIFEST.MF
ATRobots/build/resources/main/models/bunny.obj
ATRobots/build/resources/main/models/tank.mtl
ATRobots/build/tmp/compileJava/previous-compilation-data.bin
ATRobots/build/tmp/compileJava/previous-compilation-data.bin
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.bin
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.lock
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.bin
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.lock
ATRobots/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
ATRobots/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ATRobots/.settings/org.eclipse.buildship.core.prefs
ATRobots/.settings/org.eclipse.jdt.core.prefs
ATRobots/.idea/workspace.xml
ATRobots/build/tmp/compileJava/previous-compilation-data.bin
ATRobots/.classpath
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.bin
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.lock
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.bin
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.lock
ATRobots/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
ATRobots/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ATRobots/.idea/workspace.xml
ATRobots/build/tmp/compileJava/previous-compilation-data.bin
ATRobots/.classpath
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.bin
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.lock
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.bin
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.lock
ATRobots/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
ATRobots/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ATRobots/.idea/workspace.xml
ATRobots/build/tmp/compileJava/previous-compilation-data.bin
ATRobots/gradle/wrapper/gradle-wrapper.properties
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.bin
ATRobots/.gradle/7.5.1/executionHistory/executionHistory.lock
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.bin
ATRobots/.gradle/7.5.1/fileHashes/fileHashes.lock
ATRobots/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
ATRobots/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ATRobots/.idea/workspace.xml
ATRobots/build/tmp/compileJava/previous-compilation-data.bin
ATRobots/.attach_pid8189
*.class
ATRobots/.gradle/7.5.1/checksums/sha1-checksums.bin
ATRobots/.gradle/7.5.1/checksums/md5-checksums.bin
ATRobots/.gradle/7.5.1/checksums/checksums.lock
ATRobots/.idea/uiDesigner.xml
ATRobots/.idea/inspectionProfiles/Project_Default.xml
